@using KaminiCenter.Data.Models.Enums;
@model KaminiCenter.Web.ViewModels.Fireplace.FireplaceInputModel

@{
    ViewData["Title"] = "Добавяне на камина";
}

<h1 class="m-4">Добавяне на камина</h1>

<h4 class="m-4">Моля попълнете данните за вашата камина</h4>
<hr />

<div class="container-fluid">
    <form asp-controller="Fireplace" asp-action="Add" method="post"
          enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row">
            <div class="col-md-4">

                <!-- Name of Chamber -->
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <!-- End of Name of Chamber -->
                <!-- Type of Chamber -->
                <div class="select form-group">
                    <label asp-for="TypeOfChamber" class="control-label"></label>
                    <select asp-for="TypeOfChamber" class="chosen-select-no-single form-control">
                        <option value="1">Базови горивни камери</option>
                        <option value="2">Камери с вертикално отваряне</option>
                        <option value="3">Камери с водна риза</option>
                        <option value="4">Чугунени печки</option>
                        <option value="5">Чугунени врати</option>
                    </select>
                    <span asp-validation-for="TypeOfChamber" class="text-danger"></span>
                </div>
                <div class="margin-top-25"></div>
                <!-- End Of Type Chamber-->
                <!-- Size of Chamber-->
                <div class="form-group">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <!-- End Of Size Chamber-->
                <!-- Power of Chamber-->
                <div class="form-group">
                    <label asp-for="Power" class="control-label"></label>
                    <input asp-for="Power" class="form-control" />
                    <span asp-validation-for="Power" class="text-danger"></span>
                </div>
                <!-- End Of Power Chamber-->

            </div>
            <div class="col-md-4">

                <!-- Chimney of Chamber-->
                <div class="form-group">
                    <label asp-for="Chimney" class="control-label"></label>
                    <input asp-for="Chimney" class="form-control" />
                    <span asp-validation-for="Chimney" class="text-danger"></span>
                </div>
                <!-- End of Chimney of Chamber-->
                <!-- Price of Chamber-->
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <!-- End of Price of Chamber-->
                <!-- Image Upload-->
                <div class="form-group">
                    <label asp-for="ImagePath"></label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <!--End Image Upload-->

            </div>
            <div class="col-md-4">
                <!-- Description of Chamber-->
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" rows="12" cols="50" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <!-- End of Description of Chamber-->

            </div>
            <div class="form-group m-4">
                <input type="submit" value="Създай" class="btn btn-primary" />

                <a class="btn btn-info"asp-controller="Fireplace" asp-action="All" asp-route-type="@Model.TypeOfChamber">Покажи всички</a>

            </div>

        </div>
    </form>
</div>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
