@using KaminiCenter.Data.Models.Enums;
@model KaminiCenter.Web.ViewModels.Fireplace.FireplaceInputModel

@{
    ViewData["Title"] = "Добавяне на камина";
}

<h1>Добавяне на камина</h1>

<h4>Моля попълнете данните за вашата камина</h4>
<hr />
<div class="container-fluid">
    <div class="col-md-4">
        <form asp-controller="Fireplace" asp-action="Add" method="post"
              enctype="multipart/form-data">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <!-- Group -->
            <div class="select form-group">
                <h4>Категория</h4>
                <select asp-for="Group" data-placeholder="Изберете група" class="chosen-select-no-single form-control">
                    <option>Камини</option>
                    <option>Проекти</option>
                    <option>Модели</option>
                    <option>Аксесоари</option>
                </select>
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="margin-top-25"></div>
            <!-- End of Categoryy -->
            <!-- Type of Chamber -->
            <div class="select form-group">
                <h4>Тип на камерата</h4>
                <select asp-for="TypeOfChamber" class="chosen-select-no-single form-control" asp-items="@Html.GetEnumSelectList<TypeOfChamber>()">
                </select>
                <span asp-validation-for="TypeOfChamber" class="text-danger"></span>
            </div>
            <div class="margin-top-25"></div>
            <!-- End Of Type Chamber-->

            <div class="form-group">
                <label asp-for="Power" class="control-label"></label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chimney" class="control-label"></label>
                <input asp-for="Chimney" class="form-control" />
                <span asp-validation-for="Chimney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <!-- Image Upload-->
            <div class="form-group">
                <label asp-for="ImagePath"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <input asp-for="ImagePath" />

            <!--End Image Upload-->
            <input type="submit" value="Създай" class="btn btn-primary" />
            <a class="btn btn-info" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
