@{
    this.ViewData["Title"] = "Thank you";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Благодаря Ви за съобщението!</h1>
    <p class="lead"><strong>Моля проверявайте Вашият Email</strong> ще получите отговор възможно най-скоро!</p>
    <hr>   
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Home" asp-action="Index" role="button">Начална страница</a>
    </p>
</div>